{:paths ["script"]
 :tasks {:init (do (def standalone-jar-file "target/antq-standalone.jar")
                   (def jar-file "target/antq.jar"))

         lint-eastwood
         {:task (clojure "-M:dev:eastwood '{:source-paths [\"src/main\" \"src/test\"}]'")}

         repl     (shell "iced repl -A:dev")
         outdated (clojure "-M:outdated:nop --update")
         tests    (do
                    (clojure "-M:outdated:nop:1.8 --exclude=clojure/brew-install")
                    (clojure "clojure -M:dev:1.9:test")
                    (clojure "clojure -M:dev:test"))
         lint     (do (shell "echo cljstyle") ;; I don't have clj-style
                      (shell "clj-kondo --lint src:test"))
         pom      (clojure "-Spom")
         clean    (shell "rm -rf .cpcache target")
         uberjar  {:depends [pom]
                   :doc     "Build the best uberjar this side of the milkyway"
                   :task    (clojure "-X:depstar uberjar
                                 :aot true
                                 :main-class antq.core
                                 :aliases [:nop]
                                 :jar" standalone-jar-file)}
         jar      {:depends [pom clean]
                   :doc     "Build a regular jar without pomp and frills."
                   :task    (clojure "-X:depstar jar :jar" jar-file)}
         install  {:depends [jar]
                   :task    (clojure "-X:deploy :installer :local :artifact" jar-file)}
         -deploy  {:depends [jar]
                   :task    (clojure "-X:deploy :installer :remote :artifact" jar-file)}
         deploy   (when (System/getenv "CLOJARS_USERNAME")
                    (shell "bb -deploy"))
         docker   (shell "docker run --rm -v"
                         (str (System/getProperty "user.dir") ":/src")
                         "-w" "/src" "uochan/antq:latest")
         coverage (clojure "-M:coverage:dev:nop --src-ns-path=src --test-ns-path=test --codecov")}}
